pytest
absl-py==0.15.0
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.8
colorama==0.4.4
Cython==0.29.23
flatbuffers==1.12
gast==0.4.0
gensim==4.1.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==3.3
importlib-metadata==4.8.2
iniconfig==1.1.1
keras==2.7.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
libclang==12.0.0
Mako @ file:///tmp/build/80754af9/mako_1610650590832/work
Markdown==3.3.6
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1634088717532/work
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.3
pluggy==1.0.0
protobuf==3.19.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygpu==0.7.6
pyparsing==3.0.6
pytest==6.2.5
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scipy==1.7.3
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.2.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
Theano @ file:///D:/bld/theano_1636561831242/work
toml==0.10.2
torch==1.10.0
tqdm==4.62.3
typing-extensions==3.7.4.3
urllib3==1.26.7
Werkzeug==2.0.2
wincertstore==0.2
wrapt==1.12.1
zipp==3.6.0
